@using AppProject.Resources

@model AppProject.Core.Infrastructure.Email.Models.SampleEmailModel

<html>
<body>
    <h2>@StringResource.GetStringByKey("SampleEmailTemplate_Introduction_Message", Model.Name)</h2>
    <p>@StringResource.GetStringByKey("SampleEmailTemplate_Body_Message")</p>
    <p>@StringResource.GetStringByKey("SampleEmailTemplate_Date_Message", Model.Date.ToString("dd/MM/yyyy"))</p>
</body>
</html>