@using AppProject.Web.Constants

@inherits LayoutComponentBase

<RadzenLayout style="position: relative">
    <RadzenHeader>
        <RadzenRow AlignItems="AlignItems.Center">
            <RadzenColumn Size="4">
                <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="0">
                    <RadzenSidebarToggle Click="@(() => sidebarExpanded = !sidebarExpanded)" />
                    <RadzenText TextStyle="TextStyle.DisplayH6" Text="@AppProjectConstants.ProjectName" />
                </RadzenStack>
            </RadzenColumn>
            <RadzenColumn>
                <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center"
                    JustifyContent="JustifyContent.End" Gap="3" Style="margin-right: 10px;">
                    <ThemeToggle />
                    <LanguageSelector />
                    <Login />
                </RadzenStack>
            </RadzenColumn>
        </RadzenRow>
    </RadzenHeader>
    <RadzenSidebar Responsive="false" style="position: absolute" @bind-Expanded="@sidebarExpanded">
        <NavMenu />
    </RadzenSidebar>
    <RadzenBody>
        <div class="rz-p-4">
            <RadzenComponents @rendermode="RenderMode.InteractiveAuto" />
            @Body
        </div>
    </RadzenBody>
    <RadzenFooter>
        <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center"
            JustifyContent="JustifyContent.Center">
            <RadzenText TextStyle="TextStyle.Caption" Text=@StringResource.GetStringByKey("Footer_Text") />
        </RadzenStack>
    </RadzenFooter>
</RadzenLayout>

@code{
    bool sidebarExpanded = true;
}